MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=change_this_mysql_password
MYSQL_DATABASE=hotel-search

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=change_this_redis_password
